/*
 * This is the global stylesheet manifest file.  Files or plugins
 * referenced from here or placed in the application/ directory will be
 * included in all subsites.  This file is included by front.css and all
 * subsites.
 *


*/
/* line 12, /home/ikko/map/app/assets/stylesheets/application.scss */
.well.card, .well {
  padding: 16px;
  float: left;
  text-align: center;
}

/* line 13, /home/ikko/map/app/assets/stylesheets/application.scss */
.well.card img {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: lightgrey;
  text-align: center;
}

/* line 22, /home/ikko/map/app/assets/stylesheets/application.scss */
.well.card img:hover {
  background-color: white;
}
